@{
    ViewData["Title"] = "Sagnet";
}
<style>
    body {
        background-image: url("/images/Elg.jpg");
        background-size: cover;
        color: white;
        font-family: Arial, sans-serif;
    }

    .content {
        height: 500px;
        overflow: auto;
        padding: 20px;
        justify-content: space-between;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
        margin: 20px;
        text-align: justify;
        line-height: 1.5;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        word-wrap: break-word;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="content">
    <p>
        Lige så længe som majestætiske elge har vandret mellem træerne i Lille Vildmose,<br />
        har et sagn fløjet gennem årtusinderne. Det beretter om en tid, hvor mosen selv blev skabt,<br />
        og i samme åndedrag blev en mand født af dens fortryllende essence. Hans navn var Vildmosemanden,<br />
        og han blev selve inkarnationen af mosen og dens dyreliv.<br />
        Og ifølge sagnet bar han altid et kamera ved sin side for at indfange mosens natur og dyreliv.<br />
        Vildmosemanden var især betaget af de majestætiske elge, der vandrede mellem træerne som skyggespil i skumringen.
    </p>
    <p>
        Men ikke kun Lille Vildmose var præget af sagnet om Vildmosemanden. Langt væk, i det maleriske landskab ved Bælum,<br />
        spredte sagnet nemlig frygt på den selvejende institution No Name. Det var et sted,<br />
        hvor håb blev genoplivet og livet fik en ny begyndelse for de unge sjæle, der var kommet på afveje i livet.
    </p>
    <p>
        Men bag hver succesfuld Vildmosemand stod en hengiven Vildmosekone, der ventede i deres hjem i Arden.<br />
        Mens han indfangede dyrenes øjeblikke, og hans sagn skabte frygt på No Name,<br />
        stod hun trofast ved hans side og støttede hans lidenskab. Sammen havde de fået sig to Vildmosesønner,<br />
        som for længe siden havde forladt reden for at skabe deres egne veje i verden.<br />
        Vildmosemanden var en unik og betydningsfuld skikkelse i deres liv, og de vidste,<br />
        at hans arv ville blomstre i dem og deres egne efterkommere.
    </p>
    <p>
        Det gjorde især den kære Vildmosemand glad, at han til december skulle erhverve sig titlen som Vildmosefarfar.<br />
        Tanken om at se en ny generation vokse op i hans fodspor fyldte hans hjerte med en magisk glæde,<br />
        der kun kunne matches af de dyrebare øjeblikke i Lille Vildmose.
    </p>
    <p>
        Legenden om Vildmosemanden vil for altid leve videre i historierne om hans fotografiske mesterværker.<br />
        Hans lidenskab, støtte fra hans elskede Vildmosekone og kærlighed fra hans familie er en påmindelse om,<br />
        at vores forbindelse til naturen og hinanden kan skabe varige minder og værdifulde arv.
    </p>
</div>
