@{
    ViewData["Title"] = "Vildmosemandens sang";
}
<style>
    body {
        background-image: url("/images/Elg2.jpg");
        background-size: cover;
        color: white;
        font-family: Arial, sans-serif;
    }

    .content {
        height: 500px;
        padding: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
    }

    .content-left,
    .content-right {
        flex-basis: 45%;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .song-info {
        font-size: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        margin: 12px;
        text-align: center;
        line-height: 1.5;
        font-weight: bold;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="content">
    <div class="content-left">
        <div class="song-info">
            Mel.: Den lille frække Frederik – PM©
        </div>
        <p>
            Den lille vild' Vildmosemand<br />
            blev tres i februar, men kan<br />
            først fejres her i dag, hvor der<br />
            er fest i Dueslaget her.
        </p>
        <p>
            På No Name arbejdsdagen går.<br />
            Der har du været mange år.<br />
            Er vågen hele natten der<br />
            og lange vagterne kan vær'.
        </p>
        <p>
            Så når du end'lig kommer hjem.<br />
            Da sover du med fynd og klem.<br />
            Med lyd på ja, sådan det er<br />
            i yndlings lænestolen der.
        </p>
        <p>
            Med mor ta'r du på campingtur<br />
            i Øster Hurup som en kur.<br />
            Kan Campingmutter-fatter vent?<br />
            nej, knapt nok til det bli'r weekend.
        </p>
        <p>
            Det bedste kamera, vi ved<br />
            er kameraet man har med.<br />
            Ja, det er sagt af en ekspert<br />
            som fot'graferer lidt af hvert.
        </p>
    </div>
    <div class="content-right">
        <p>
            Dog særligt Elgene han har<br />
            på sigt og dyrene står klar.<br />
            Til at modtage mesterskud.<br />
            Den store linse trækkes ud.
        </p>
        <p>
            Hvis ikke nok opmærksomhed<br />
            de får, så sniger de afsted.<br />
            Og kommer helt bag på dig der.<br />
            En elge-hvisker vist du er.
        </p>
        <p>
            På gode bil'der zoomes ind<br />
            og pynter på en flaske gin<br />
            Du er lidt Krukket-Elg Dundee<br />
            med Cowboy hat du hænger i.
        </p>
        <p>
            På facebook signatur den er.<br />
            Ja, meget glad for hatten der<br />
            og så det bedste kamera<br />
            det er jo det...tra la la la.
        </p>
        <p>
            Den lille vild' Vildmosemand<br />
            skal hyldes nu så godt vi kan.<br />
            Med fælles rejsning SKÅL vi ta'r.<br />
            TILLYKKE HIP HIP HØJT HURRA.
        </p>
    </div>
</div>