@{
    ViewData["Title"] = "Skål";
}

<style>
    body {
        background-image: url("/images/Skål.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .text-center {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .display-4 {
        font-size: 48px;
        font-weight: bold;
        color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Vildmosemanden og Vildmosekonen siger SKÅL!</h1>
</div>